.CFUserTextEncoding
.android/
.aws/
.azure/
.bash_history
.cache/
.cargo/
.config/containers/
.config/eddie/
.config/gh/
.config/gtk-2.0/
.config/op/
.config/raycast/
.config/spotify-player/
.cups/
.cursor/
.jump/
.kube/
.lesshst
.local/
.minikube/
.ssh/
.viminfo
.vscode/
.zprofile
.zsh_history
Applications/
Desktop/
DevKinsta/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dead.letter
src/